<div class="card" style="width: 32rem; height: 24rem;">
    <div class="card-body">
      <h1 class="card-title" style="text-align: center;text-shadow: 0 0 3px #FF0000;">Contact</h1><br>
      <ul style="padding-left: 24%;">
        <li><h5>Mobile&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;9344807632</h5></li>
        <li><h5>Landline&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;044-2423 2423</h5></li>
        <li><h5>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;csbbank@gmail.com</h5></li>
        <li><h5>Whatsapp &nbsp;:&nbsp; 8667567392</h5></li>
        <li><h5>Instagram&nbsp; :&nbsp; CSB_Bank_Chennai</h5></li>
        <li><h5>Youtube&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp; CSB_bank</h5></li>
      </ul>
      <br>
      <h6>Want to go back ? <span><a href="Login" class="btn btn-primary" style="margin-left: 6%;">Home</a></span></h6>
      
    </div>
  </div>