<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">🏦 CSB Bank 🏦</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="Login">Home</a>
          </li>
          <li class="nav-item">     
            <a class="nav-link active" routerLink="AboutUs">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="Contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="Gallery">Gallery</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<router-outlet></router-outlet>
